@import "./../tokens.scss";

.banner {
  width: 100%;
  background-color: $bg-dust-100;
}

.brand {
  font-size: 32px;
  line-height: $line-reset;
  font-weight: $extrabold;
}

.nav-primary {
  padding: $space-vertical-ml;
}
