@import "./../tokens.scss";

.page-navigation {
  width: 100%;
  background-color: $bg-white-100;
}

.nav-primary {
  box-shadow: inset 0 -1px 0px 0px $dark-alpha-20;

  & .nav-primary-container {
    display: flex;
    justify-content: space-between;
  }
}

.brand {
  font-size: 32px;
  line-height: $line-reset;
  font-weight: $extrabold;
  display: inline-flex;
  justify-content: center;
  align-items: center;

  & .logo {
    height: 40px;
  }
}

.primary_navigation {
  display: flex;
  justify-content: flex-end;
  align-items: baseline;

  & .menu-item {
    &:not(:last-child) {
      margin-right: $space-ll;
    }

    > a {
      @include captionAlt();
      display: block;
      padding: 28px 0;
      text-transform: uppercase;
      font-weight: $semibold;
    }

    &.current-menu-item {
      box-shadow: inset 0px -3px 0px 0px $dark-hex-80;
      transition: all 0.28s;
    }

    &:hover {
      box-shadow: inset 0 -3px 0 0 $dark-hex-80;
      transition: all 0.28s;
    }
  }
}

.menu-secondary-container {
  background-color: #ffffff;
  @include container();
  box-shadow: inset 0 -1px 0px 0px $dark-alpha-20;
}

.secondary_navigation {
  display: flex;
  align-items: baseline;

  & .menu-item {
    margin-right: $space-l;
    transition: all 0.36s;

    > a {
      display: block;
      padding: $space-m 0;
      color: $dark-hex-80;
      @include caption();
      font-weight: $medium;
    }

    &.current-menu-item {
      box-shadow: inset 0px -4px 0px 0px $brand-primary-300;
      transition: all 0.28s;
    }

    &:hover {
      box-shadow: inset 0px -4px 0px 0px $brand-primary-300;
      transition: all 0.28s;
    }
  }
}
